# 1. დავაიგნოროთ აბსოლუტურად ყველა ფაილი და ფოლდერი
*

# 2. გამოვრიცხოთ (ანუ მივცეთ ატვირთვის უფლება) მხოლოდ ამ ფაილებს:
!README.md
!model_experiment.ipynb
!model_inference.ipynb

# 3. აუცილებლად უნდა დავტოვოთ თავად .gitignore ფაილიც
!.gitignore